In [ ]:
import re

import pdfplumber
import pandas as pd
import numpy as np

from scripts.tolookandcompare_v2 import transform_info, transform_headtail
from scripts.soporte_eda import resumen_df

In [ ]:

with pdfplumber.open("data/raw/World_Poll_Dataset_Details.pdf") as pdf:
    print(f"El PDF tiene {len(pdf.pages)} páginas.")

El PDF tiene 244 páginas.

In [12]:
def extraer_filas_de_texto(texto):
    # Insertamos el 'patrón' para capturar filas que empiezan con un año

    patron = r"(\d{4}-\d{4}\s+\w.+?)(?=\n\d{4}-\d{4}|$)"
    filas = re.findall(patron, texto, re.DOTALL)

    # Limpiamos cada fila: se dividen en columnas usando espacios múltiples
    tablas = []
    
    for fila in filas:
        columnas = re.split(r"\s{2,}", fila.strip())
        tablas.append(columnas)
    return tablas

In [ ]:
def extraer_tablas_por_bloques(ruta_pdf, paginas_por_bloque=20):
    with pdfplumber.open(ruta_pdf) as pdf:
        total_paginas = len(pdf.pages)
        all_tables = []

        for i in range(0, total_paginas, paginas_por_bloque):
            for j in range(i, min(i + paginas_por_bloque, total_paginas)):
                page = pdf.pages[j]
                table = page.extract_table()
                if table:
                    df = pd.DataFrame(table[1:], columns=table[0])
                    all_tables.append(df)

        df = pd.concat(all_tables, ignore_index=True)
        return df

df = extraer_tablas_por_bloques("files/World_Poll_Dataset_Details.pdf", paginas_por_bloque=20)


# Guardamos CSV
df.to_csv("data/processed/gallup-interviews-info-2005-2025.csv", index=False)
print(f"Total de filas extraídas: {len(df)}")

Total de filas extraídas: 2730

In [16]:
df.head()

,Data\nCollection\nYear,Country,Data Collection Date,Number of\nInterviews,Design\nEffecta,Margin\nof Errorb,Mode of Interviewing,Languages,Over-\nSamplec
0,2005-2006,Albania,"Jan, 2007",981,1.61,4.0,Face-to-Face,Albanian,
1,2005-2006,Argentina,"May, 2006","1,000",1.12,3.3,Face-to-Face,Spanish,
2,2005-2006,Armenia,"Jul, 2006","1,000",1.06,3.2,Face-to-Face,"Armenian, Russian",
3,2005-2006,Australia,"Dec, 2005","1,001",1.30,3.5,Landline Telephone,English,
4,2005-2006,Austria,"April, 2006","1,004",1.40,3.7,Landline Telephone,German,

In [15]:
df.tail()

,Data\nCollection\nYear,Country,Data Collection Date,Number of\nInterviews,Design\nEffecta,Margin\nof Errorb,Mode of Interviewing,Languages,Over-\nSamplec
2725,2025,Norway,"Apr 28 - Jun 13, 2025","1,000",1.98,4.4,Mobile Telephone,Norwegian,
2726,2025,Slovenia,"Mar 27 - May 21, 2025","1,030",1.63,3.9,Landline and Mobile\nTelephone,Slovene,
2727,2025,Sweden,"Apr 22 - Jun 8, 2025","1,001",1.72,4.1,Mobile Telephone,Swedish,
2728,2025,"Taiwan,\nProvince of\nChina","May 16 - Jun 13, 2025","1,000",1.64,4.0,Landline and Mobile\nTelephone,Chinese,
2729,2025,Ukraine,"Jul 1 - Jul 14, 2025","1,000",1.36,3.6,Mobile Telephone,"Russian, Ukrainian",

In [17]:
nuevos_nombres = [
    "Data Collection Year",
    "Country",
    "Data Collection Date",
    "Number of Interviews",
    "Design Effect",
    "Margin of Error",
    "Mode of Interviewing",
    "Languages",
    "Over-Sample"
]

df.columns = nuevos_nombres[:len(df.columns)]

In [18]:
df.head()

,Data Collection Year,Country,Data Collection Date,Number of Interviews,Design Effect,Margin of Error,Mode of Interviewing,Languages,Over-Sample
0,2005-2006,Albania,"Jan, 2007",981,1.61,4.0,Face-to-Face,Albanian,
1,2005-2006,Argentina,"May, 2006","1,000",1.12,3.3,Face-to-Face,Spanish,
2,2005-2006,Armenia,"Jul, 2006","1,000",1.06,3.2,Face-to-Face,"Armenian, Russian",
3,2005-2006,Australia,"Dec, 2005","1,001",1.30,3.5,Landline Telephone,English,
4,2005-2006,Austria,"April, 2006","1,004",1.40,3.7,Landline Telephone,German,

In [19]:
resumen_df(df)

Forma del DataFrame: (2730, 9)

Tipos de datos:
Data Collection Year    object
Country                 object
Data Collection Date    object
Number of Interviews    object
Design Effect           object
Margin of Error         object
Mode of Interviewing    object
Languages               object
Over-Sample             object
dtype: object

Valores nulos:
Data Collection Year    0
Country                 0
Data Collection Date    0
Number of Interviews    0
Design Effect           0
Margin of Error         0
Mode of Interviewing    0
Languages               0
Over-Sample             0
dtype: int64

Valores duplicados: 0

⚠️ No hay columnas numéricas en el DataFrame.

Resumen estadístico (categóricas):

                     count unique           top  freq
Data Collection Year  2730     20          2012   195
Country               2730    482       Ukraine    20
Data Collection Date  2730   2480     Jul, 2007    22
Number of Interviews  2730    258         1,000  1587
Design Effect         2730    186          1.36    69
Margin of Error       2730     67           3.7   414
Mode of Interviewing  2730     26  Face-to-Face   980
Languages             2730    280       Spanish   333
Over-Sample           2730     54                2593

In [20]:
df['Over-Sample'].unique()

array(['', 'Urban', 'Toronto', 'Shanghai,\nBeijing,\nGuangzhou', 'Berlin',
       'Jakarta', 'Tehran',
       'Urban areas\nand ARMM\n(autonomous\nregion of\nMuslim\nMindanao)',
       'Bangkok', 'Dhaka', 'Beijing,\nShanghai,\nGuangzhou', 'Paris',
       'Kuala\nLumpur', 'Ulan Bator', 'Karachi,\nUrban',
       'Urban,\nDagestan,\nTatarstan\n(Muslim\nregions)', 'London',
       'Tbilisi', 'Nairobi', 'Albanians in\nNorthwest\nand Skojpe',
       'Urban\noversample', 'East\nHerzegovina\nand West\nHerzegovina',
       'Serbs in\nSerbian\nNorth and\nSerbian\nEnklaves',
       'Albanians in\nNorthwest\nand Skopje',
       'Albanians in\nNorth, Cost\nand\nPodgorica', 'Muslims in\nSandzak',
       'Croats in\nEast and\nWest\nHerzegovina',
       'Serbs in\nSerbian\nNorth and\nSerbian\nenclaves', 'Vienna',
       'Brussels', 'Sofia', 'Prague', 'Copenhagen', 'Helsinki',
       'Paris City', 'Budapest', 'Dublin City', 'Rome',
       'Albanians in\nNorthwest', 'Amsterdam', 'Warsaw', 'Lisbon',
       'Bucharest', 'Bratislava', 'Ljubljana', 'Madrid', 'Stockholm',
       'Istanbul',
       'Serbs in\nSerbian\nNorth\nKosovo and\nSerbian\nEnclaves',
       'Beijing,\nShanghai\nand\nGuangzhou',
       'Disproportion\nate allocation\nof\nrural/urban\ninterviews\nacross the 4\nregions',
       'Sandzak',
       'Disproportion\nate allocation\nof sample\nacross the 4\nbroad\nregions.',
       'Additional\ninterviews\namong\nEmirati\nnationals'], dtype=object)

### Limpiamos las columnas a partir de aquí

In [22]:
if "Over-Sample" in df.columns:
    df["Over-Sample"] = (
        df["Over-Sample"]
        .astype(str)
        .str.replace(r"\n", " ")
        .str.replace(r"\\n", " ")
        .str.strip()
    )

    # Creamos una función de limpieza para todas las demás
    def limpiar_caracteres_extra(valor):
        valor = re.sub(r'\s+', ' ', valor)
        return valor

    df["Over-Sample"] = df["Over-Sample"].apply(limpiar_caracteres_extra)

# Verificar los valores únicos en la columna "Over-Sample"
print(df["Over-Sample"].unique())

['' 'Urban' 'Toronto' 'Shanghai, Beijing, Guangzhou' 'Berlin' 'Jakarta'
 'Tehran' 'Urban areas and ARMM (autonomous region of Muslim Mindanao)'
 'Bangkok' 'Dhaka' 'Beijing, Shanghai, Guangzhou' 'Paris' 'Kuala Lumpur'
 'Ulan Bator' 'Karachi, Urban'
 'Urban, Dagestan, Tatarstan (Muslim regions)' 'London' 'Tbilisi'
 'Nairobi' 'Albanians in Northwest and Skojpe' 'Urban oversample'
 'East Herzegovina and West Herzegovina'
 'Serbs in Serbian North and Serbian Enklaves'
 'Albanians in Northwest and Skopje'
 'Albanians in North, Cost and Podgorica' 'Muslims in Sandzak'
 'Croats in East and West Herzegovina'
 'Serbs in Serbian North and Serbian enclaves' 'Vienna' 'Brussels' 'Sofia'
 'Prague' 'Copenhagen' 'Helsinki' 'Paris City' 'Budapest' 'Dublin City'
 'Rome' 'Albanians in Northwest' 'Amsterdam' 'Warsaw' 'Lisbon' 'Bucharest'
 'Bratislava' 'Ljubljana' 'Madrid' 'Stockholm' 'Istanbul'
 'Serbs in Serbian North Kosovo and Serbian Enclaves'
 'Beijing, Shanghai and Guangzhou'
 'Disproportion ate allocation of rural/urban interviews across the 4 regions'
 'Sandzak'
 'Disproportion ate allocation of sample across the 4 broad regions.'
 'Additional interviews among Emirati nationals']

In [23]:
df['Over-Sample'].unique()

array(['', 'Urban', 'Toronto', 'Shanghai, Beijing, Guangzhou', 'Berlin',
       'Jakarta', 'Tehran',
       'Urban areas and ARMM (autonomous region of Muslim Mindanao)',
       'Bangkok', 'Dhaka', 'Beijing, Shanghai, Guangzhou', 'Paris',
       'Kuala Lumpur', 'Ulan Bator', 'Karachi, Urban',
       'Urban, Dagestan, Tatarstan (Muslim regions)', 'London', 'Tbilisi',
       'Nairobi', 'Albanians in Northwest and Skojpe', 'Urban oversample',
       'East Herzegovina and West Herzegovina',
       'Serbs in Serbian North and Serbian Enklaves',
       'Albanians in Northwest and Skopje',
       'Albanians in North, Cost and Podgorica', 'Muslims in Sandzak',
       'Croats in East and West Herzegovina',
       'Serbs in Serbian North and Serbian enclaves', 'Vienna',
       'Brussels', 'Sofia', 'Prague', 'Copenhagen', 'Helsinki',
       'Paris City', 'Budapest', 'Dublin City', 'Rome',
       'Albanians in Northwest', 'Amsterdam', 'Warsaw', 'Lisbon',
       'Bucharest', 'Bratislava', 'Ljubljana', 'Madrid', 'Stockholm',
       'Istanbul', 'Serbs in Serbian North Kosovo and Serbian Enclaves',
       'Beijing, Shanghai and Guangzhou',
       'Disproportion ate allocation of rural/urban interviews across the 4 regions',
       'Sandzak',
       'Disproportion ate allocation of sample across the 4 broad regions.',
       'Additional interviews among Emirati nationals'], dtype=object)

In [24]:
df["Country"] = df["Country"].apply(limpiar_caracteres_extra)

In [25]:
df['Country'].unique()

array(['Albania', 'Argentina', 'Armenia', 'Australia', 'Austria',
       'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium', 'Benin',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Chad', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Guatemala', 'Haiti', 'Honduras', 'Hong Kong, S.A.R. of China',
       'Hungary', 'India', 'Indonesia', 'Iran', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon',
       'Lithuania', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia',
       'Mali', 'Mexico', 'Moldova (the Republic of)', 'Montenegro',
       'Mozambique', 'Nepal', 'Netherlands (Kingdom of the)',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway',
       'Pakistan', 'State of Palestine', 'Panama', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden',
       'Switzerland', 'Taiwan, Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Turkey',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe', 'Belize',
       'Central African Republic', 'Guyana', 'Liberia', 'Mauritania',
       'Mongolia', 'Namibia', 'Afghanistan', 'Congo', 'Djibouti',
       'Germany (Qtr 1)', 'Germany (Qtr 2)', 'Germany (Qtr 3)',
       'Germany (Qtr 4)', 'Iceland', 'Iraq', 'Japan (Qtr 1)',
       'Japan (Qtr 2)', 'Japan (Qtr 3)', 'Japan (Qtr 4)', 'Luxembourg',
       'Malta', 'Pakistan (3.1)', 'Pakistan (3.2)', 'Pakistan (3.3)',
       'Qatar', 'Singapore (Qtr 1)', 'Singapore (Qtr 2)', 'Syria',
       'Afghanistan (4.1)', 'Afghanistan (4.2)', 'Bahrain (4.1)',
       'Bahrain (4.2)', 'Bulgaria', 'Comoros (4.1)', 'Comoros (4.2)',
       'Congo (the Democratic Republic of the)', "Cote D'Ivoire",
       'Djibouti (4.1)', 'Djibouti (4.2)', 'Egypt (4.1)', 'Egypt (4.2)',
       'Iraq (4.1)', 'Iraq (4.2)', 'Jordan (4.1)', 'Jordan (4.2)',
       'Kuwait (4.1)', 'Kuwait (4.2)', 'Lebanon (4.1)', 'Lebanon (4.2)',
       'Mauritania (4.1)', 'Mauritania (4.2)', 'Pakistan (4.1)',
       'Pakistan (4.2)', 'Pakistan (4.3)', 'State of Palestine (4.1)',
       'State of Palestine (4.2)', 'Saudi Arabia (4.1)',
       'Saudi Arabia (4.2)', 'Somaliland region (4.1)',
       'Somaliland region (4.2)', 'Sudan (4.1)', 'Sudan (4.2)',
       'Syria (4.1)', 'Syria (4.2)', 'Tunisia (4.2)', 'Turkmenistan',
       'United Arab Emirates (4.1)', 'United Arab Emirates (4.2)',
       'Yemen (4.1)', 'Yemen (4.2)', 'Algeria (5.2)', 'Bahrain (5.1)',
       'Bahrain (5.2)', 'Comoros (5.1)', 'Comoros (5.2)', 'Egypt (5.1)',
       'Egypt (5.2)', 'Iraq (5.1)', 'Iraq (5.2)', 'Jordan (5.1)',
       'Jordan (5.2)', 'Kuwait (5.1)', 'Kuwait (5.2)', 'Lebanon (5.1)',
       'Lebanon (5.2)', 'Mauritania (5.1)', 'Mauritania (5.2)',
       'Morocco (5.2)', 'State of Palestine (5.1)',
       'State of Palestine (5.2)', 'Russian Federation (5.1)',
       'Russian Federation (5.2)', 'Saudi Arabia (5.1)',
       'Saudi Arabia (5.2)', 'Somaliland region (5.1)',
       'Somaliland region (5.2)', 'Sudan (5.1)', 'Sudan (5.2)',
       'Syria (5.1)', 'Syria (5.2)', 'Tunisia (5.1)', 'Tunisia (5.2)',
       'United Arab Emirates (5.1)', 'United Arab Emirates (5.2)',
       'Yemen (5.1)', 'Yemen (5.2)', 'Algeria (6.1)', 'Algeria (6.2)',
       'Angola', 'Bahrain (6.1)', 'Bahrain (6.2)', 'Comoros (6.1)',
       'Comoros (6.2)', 'Egypt (6.1)', 'Egypt (6.2)', 'Egypt (6.3)',
       'Egypt (6.4)', 'Egypt (6.5)', 'Gabon', 'Germany (6.1)',
       'Germany (6.2)', 'Germany (6.3)', 'Germany (6.4)', 'Guinea',
       'Iraq (6.1)', 'Iraq (6.2)', 'Jordan (6.1)', 'Jordan (6.2)',
       'Kuwait (6.1)', 'Kuwait (6.2)', 'Lebanon (6.1)', 'Lebanon (6.2)',
       'Lesotho', 'Mauritania (6.1)', 'Mauritania (6.2)', 'Mauritius',
       'Morocco (6.1)', 'Morocco (6.2)', 'Oman (6.1)', 'Oman (6.2)',
       'State of Palestine (6.1)', 'State of Palestine (6.2)',
       'Qatar (6.1)', 'Qatar (6.2)', 'Saudi Arabia (6.1)',
       'Saudi Arabia (6.2)', 'Somaliland region (6.1)',
       'Somaliland region (6.2)', 'Sudan (6.1)', 'Sudan (6.2)',
       'Swaziland', 'Syria (6.1)', 'Syria (6.2)', 'Tunisia (6.1)',
       'Tunisia (6.2)', 'United Arab Emirates (6.1)',
       'United Arab Emirates (6.2)',
       'United Kingdom of Great Britain and Northern Ireland (6.1)',
       'United Kingdom of Great Britain and Northern Ireland (6.2)',
       'United Kingdom of Great Britain and Northern Ireland (6.3)',
       'United Kingdom of Great Britain and Northern Ireland (6.4)',
       'Yemen (6.1)', 'Yemen (6.2)', 'Afghanistan (7.1)',
       'Afghanistan (7.2)', 'Algeria (7.1)', 'Algeria (7.2)', 'Bahrain',
       'Bangladesh (7.1)', 'Bangladesh (7.2)', 'Bangladesh (7.3)',
       'Brazil (7.1)', 'Brazil (7.2)', 'Canada (7.1)', 'Canada (7.2)',
       'China (7.1)', 'China (7.2)', 'China (7.3)', 'Comoros',
       'Egypt (7.1)', 'Egypt (7.2)', 'Egypt (7.3)', 'Egypt (7.4)',
       'Ethiopia (7.1)', 'Ethiopia (7.2)', 'France (7.1)', 'France (7.2)',
       'Germany (7.1)', 'Germany (7.2)', 'Germany (7.3)', 'Germany (7.4)',
       'India (7.1)', 'India (7.2)', 'India (7.3)', 'India (7.4)',
       'Indonesia (7.1)', 'Indonesia (7.2)', 'Indonesia (7.3)',
       'Iran (7.1)', 'Iran (7.2)', 'Iraq (7.1)', 'Iraq (7.2)',
       'Italy (7.1)', 'Italy (7.2)', 'Japan (7.1)', 'Japan (7.2)',
       'Jordan (7.1)', 'Jordan (7.2)', 'Lebanon (7.1)', 'Lebanon (7.2)',
       'Libya', 'Mexico (7.1)', 'Mexico (7.2)', 'Morocco (7.1)',
       'Morocco (7.2)', 'Myanmar', 'Nepal (7.1)', 'Nepal (7.2)',
       'Nigeria (7.2)', 'Northern Cyprus', 'Pakistan (7.1)',
       'Pakistan (7.2)', 'Pakistan (7.3)', 'State of Palestine (7.1)',
       'State of Palestine (7.2)', 'Philippines (7.1)',
       'Philippines (7.2)', 'Russian Federation (7.1)',
       'Russian Federation (7.2)', 'Saudi Arabia (7.1)',
       'Saudi Arabia (7.2)', 'Somaliland region', 'South Africa (7.1)',
       'South Africa (7.2)', 'South Korea (7.1)', 'South Korea (7.2)',
       'Spain (7.1)', 'Spain (7.2)', 'Sri Lanka (7.1)', 'Sri Lanka (7.2)',
       'Sudan', 'Suriname', 'Syria (7.1)', 'Syria (7.2)',
       'Thailand (7.1)', 'Thailand (7.2)', 'Tunisia (7.1)',
       'Tunisia (7.2)', 'Turkey (7.1)', 'Turkey (7.2)',
       'United Arab Emirates (7.1)', 'United Arab Emirates (7.2)',
       'United Kingdom of Great Britain and Northern Ireland (7.1)',
       'United Kingdom of Great Britain and Northern Ireland (7.2)',
       'United Kingdom of Great Britain and Northern Ireland (7.3)',
       'United Kingdom of Great Britain and Northern Ireland (7.4)',
       'United States of America (7.1)', 'United States of America (7.2)',
       'Vietnam (7.1)', 'Vietnam (7.2)', 'Yemen (7.1)', 'Yemen (7.2)',
       'Bhutan', 'Ethiopia', 'Morocco', 'Nagorno- Karabakh region',
       'Tunisia', 'Algeria', 'Australia (9.1)', 'Australia (9.2)',
       'Austria (9.1)', 'Austria (9.2)', 'Bahrain (9.1)', 'Bahrain (9.2)',
       'Belgium (9.1)', 'Belgium (9.2)', 'Canada (9.1)', 'Canada (9.2)',
       'Cyprus (9.1)', 'Cyprus (9.2)', 'Denmark (9.1)', 'Denmark (9.2)',
       'Finland (9.1)', 'Finland (9.2)', 'France (9.1)', 'France (9.2)',
       'Germany (9.1)', 'Germany (9.2)',
       'Hong Kong, S.A.R. of China (9.1)',
       'Hong Kong, S.A.R. of China (9.2)', 'Iran (9.1)', 'Iran (9.2)',
       'Iraq (9.1)', 'Iraq (9.2)', 'Ireland (9.1)', 'Ireland (9.2)',
       'Italy (9.1)', 'Italy (9.2)', 'Japan (9.1)', 'Japan (9.2)',
       'Kuwait (9.1)', 'Kuwait (9.2)', 'Luxembourg (9.1)',
       'Luxembourg (9.2)', 'Malaysia (9.1)', 'Malaysia (9.2)',
       'Malta (9.1)', 'Malta (9.2)', 'Netherlands (Kingdom of the) (9.1)',
       'Netherlands (Kingdom of the) (9.2)', 'New Zealand (9.1)',
       'New Zealand (9.2)', 'Northern Cyprus (9.1)',
       'Northern Cyprus (9.2)', 'Norway (9.1)', 'Norway (9.2)',
       'Portugal (9.1)', 'Portugal (9.2)', 'Saudi Arabia (9.1)',
       'Saudi Arabia (9.2)', 'Slovenia (9.1)', 'Slovenia (9.2)',
       'Somalia', 'South Korea (9.1)', 'South Korea (9.2)', 'South Sudan',
       'Spain (9.1)', 'Spain (9.2)', 'Sweden (9.1)', 'Sweden (9.2)',
       'Switzerland (9.1)', 'Switzerland (9.2)',
       'Taiwan, Province of China (9.1)',
       'Taiwan, Province of China (9.2)', 'Turkey (9.1)', 'Turkey (9.2)',
       'United Arab Emirates (9.1)', 'United Arab Emirates (9.2)',
       'United Kingdom of Great Britain and Northern Ireland (9.1)',
       'United Kingdom of Great Britain and Northern Ireland (9.2)',
       'United States of America (9.1)', 'United States of America (9.2)',
       'Germany (11.1)', 'Germany (11.2)', 'Norway (11.1)',
       'Norway (11.2)', 'Gambia', 'Maldives', 'North Macedonia',
       'Swaziland (Eswatini)', 'India (15.1)', 'India (15.5)',
       'United Arab Emirates (15.1)', 'United Arab Emirates (15.9)',
       'Eswatini', 'Türkiye', 'Oman', 'West Bank and East Jerusalem'],
      dtype=object)

In [26]:

df["Design Effect"] = df["Design Effect"].apply(limpiar_caracteres_extra)
df["Design Effect"].unique()

array(['1.61', '1.12', '1.06', '1.30', '1.40', '1.14', '1.11', '1.04',
       '1.50', '1.51', '1.01', '1.49', '1.20', '1.31', '1.03', '2.03',
       '1.42', '1.74', '2.17', '1.33', '1.92', '1.09', '1.18', '1.07',
       '1.17', '1.35', '1.72', '1.23', '1.19', '1.38', '1.45', '1.28',
       '1.10', '3.51', '1.29', '1.00', '1.15', '1.70', '2.88', '1.37',
       '1.73', '1.26', '2.08', '1.13', '1.02', '1.25', '2.33', '1.55',
       '1.16', '1.05', '1.43', '1.32', '1.21', '1.64', '2.58', '2.15',
       '2.07', '1.47', '1.56', '1.24', '2.71', '2.70', '1.62', '1.82',
       '1.66', '2.06', '2.05', '1.22', '3.71', '1.59', '1.27', '2.98',
       '1.78', '1.76', '1.08', '1.79', '1.93', '1.36', '1.46', '1.69',
       '1.68', '2.04', '2.99', '3.23', '2.20', '1.60', '1.54', '1.65',
       '1.34', '2.51', '1.41', '2.10', '2.45', '1.53', '1.39', '1.85',
       '1.52', '2.02', '2.11', '1.81', '1.58', '2.37', '1.71', '1.48',
       '1.44', '3.02', '1.80', '1.67', '1.77', '2.14', '1.98', '2.61',
       '2.43', '1.95', '1.89', '1.57', '1.75', '2.42', '1.83', '1.63',
       '2.01', '1.84', '1.63 1.63', '1.87', '1.96', '1.91', '1.38 1.38',
       '1.94', '1.88', '1.90', '1.97', '2.18', '2.00', '2.12', '1.99',
       '2.36', '2.52', '2.73', '2.63', '2.16', '2.96', '2.19', '3.53',
       '2.53', '2.09', '2.59', '2.56', '2.39', '2.35', '2.54', '2.30',
       '1.86', '2.32', '2.44', '2.48', '2.50', '2.25',
       'Phone: 1.53 Total: 1.56', 'Phone: 1.69 Total: 1.84',
       'Phone: 1.34 Total: 1.38', 'Phone: 1.40 Total: 1.39',
       'Phone: 1.22 Total: 1.27', 'Phone: 1.77 Total: 1.66',
       'Phone: 1.50 Total: 1.47', 'Phone: 1.52 Total: 1.47',
       'Phone: 2.37 Total: 2.16', 'Phone: 2.00 Total: 2.00',
       'Phone: 1.43 Total: 1.49', 'Phone: 2.04 Total: 1.99',
       'Phone: 1.99 Total: 1.96', 'Phone: 1.35 Total: 1.39', '2.75',
       'Phone: 1.55 Total: 1.65', 'Phone: 1.67 Total: 1.68',
       'Phone: 1.87 Total: 1.73', 'Phone: 1.59 Total: 1.65',
       'Phone: 1.48 Total: 1.55', 'Phone: 1.46 Total: 1.48',
       'Phone: 1.87 Total: 1.78', 'Phone: 1.73 Total: 1.72',
       'Phone: 1.55 Total: 1.57', 'Phone: 1.48 Total: 1.49',
       'Phone: 1.75 Total: 1.74', '2.13', '2.28', '2.40'], dtype=object)

In [27]:
df["Languages"].unique()

array(['Albanian', 'Spanish', 'Armenian, Russian', 'English', 'German',
       'Azeri, Russian', 'Bengali', 'Russian,\nBelarusian',
       'Dutch, French', 'French, Fon,\nBariba',
       'Bosnian, Croatian,\nSerbian', 'English, Setswana', 'Portuguese',
       'French, Moore,\nDioula, Fulfulde', 'French, Kirundi', 'Khmer',
       'French, English,\nFulfulde', 'English, French',
       'Chadian Arabic,\nFrench, Ngambaye', 'Chinese', 'Croatian',
       'Greek', 'Czech', 'Danish', 'Arabic', 'Estonian, Russian',
       'Finnish', 'French', 'Georgian,\nRussian, Armenian',
       'English, Hausa,\nEwe, Twi', 'Creole', 'Hungarian',
       'English, Hindi,\nTamil, Kannada,\nTelugu, Marathi,\nGujarati, Bengali,\nMalayalam',
       'Bahasa Indonesia', 'Farsi', 'Hebrew, Arabic,\nRussian', 'Italian',
       'Japanese', 'Kazakh, Russian', 'English, Swahili',
       'Albanian, Serbian', 'Kyrgyz, Russian,\nUzbek', 'Lao',
       'Latvian, Russian', 'Lithuanian', 'Macedonian,\nAlbanian',
       'French, Malagasy', 'English,\nChichewa,\nTumbuka',
       'Bahasa Malay,\nChinese, English',
       'Bambara, French,\nPeul, Sonhai', 'Romanian/Moldavi\nan, Russian',
       'Montenegrin,\nSerbian, Bosnian', 'Nepali', 'Dutch',
       'French, Zarma,\nHausa', 'English, Yoruba,\nHausa, Igbo',
       'Norwegian', 'Urdu',
       'Filipino, Iluko,\nHiligaynon,\nCebuano, Bicol', 'Polish',
       'Romanian', 'Russian', 'Kinyarwanda', 'French, Wolof', 'Serbian',
       'English, Mende,\nKrio, Temne', 'English, Chinese,\nBahasa Malay',
       'Slovak', 'Slovene', 'Afrikaans,\nEnglish, Sotho,\nZulu, Xhosa',
       'Korean', 'Sinhala, Tamil', 'Swedish', 'German, French,\nItalian',
       'Tajik, Uzbek,\nRussian', 'Swahili', 'Thai',
       'French, Ewe,\nKabiye', 'Turkish',
       'English, Luganda,\nAteso, Runyankole', 'Russian, Ukrainian',
       'Uzbek, Russian,\nKarakalpakh', 'Vietnamese',
       'English, Bemba,\nLozi, Kaonde,\nTonga',
       'English, Shona,\nNdebele', 'French, Sangho', 'Hebrew, Arabic',
       'English, Pidgin\nEnglish', 'Bahasa Malay,\nChinese,\nEnglish',
       'French,\nHassanya,\nPoulaar, Wolof', 'Mongolian',
       'English,\nAfrikaans,\nOshivambo', 'French, Zarma',
       'French, Mende,\nKrio, Temne', 'Dari, Pashto',
       'French, Lingala,\nKituba', 'French, Afar,\nSomali',
       'English, Hausa,\nEwe, Twi, Dagbani', 'Icelandic',
       'French, German', 'Bahasa Malay,\nChinese', 'Bambara, French',
       'Maltese', 'Montenegrin',
       'Filipino, Iluko,\nHiligaynon,\nCebuano,\nBicol, Tausug,\nWaray, Chavacano',
       'Kinyarwanda,\nFrench, English',
       'English, Bemba,\nLozi, Tonga,\nNyanja', 'Bulgarian',
       'French, Comorian', 'French, Lingala,\nSwahili, Tshiluba',
       'Dioula, French',
       'English, Hindi,\nTamil, Kannada,\nTelugu, Marathi,\nGujarati, Bengali,\nMalayalam, Odia',
       'Arabic, Kurdish', 'Albanian, Serbian,\nMontenegrin',
       'Macedonian,\nAlbanian, Bosnian', 'Chichewa,\nEnglish, Tumbuka',
       'French,\nHassanya,\nPoulaar, Wolof,\nSoninké',
       'Montenegrin,\nSerbian, Bosnian,\nAlbanian',
       'Filipino, Iluko,\nHiligaynon,\nCebuano, Bicol,\nWaray,\nMaguindanaon',
       'Kinyarwanda,\nFrench', 'Serbian,\nMontenegrin',
       'Chinese, English', 'Arabic, Somali,\nAfar', 'Arabic, English',
       'Tajik, Russian', 'Swahili, English', 'Turkmen, Russian',
       'Uzbek, Russian', 'Dari,\nPashto', 'Armenian', 'Dutch,\nFrench',
       'Dioula, French,\nFulfulde, Moore', 'English, French,\nFulfulde',
       'Georgian, Russian',
       'Hindi, Tamil,\nKannada, Telugu,\nMarathi, Gujarati,\nBengali,\nMalayalam, Odia,\nPunjabi',
       'Albanian, Serbian,\nBosnian', 'Maltese,\nEnglish',
       'Montenegrin,\nSerbian, Bosnian,\nAlbanian, Croatian',
       'Moroccan Arabic,\nFrench, Berber',
       'English, Yoruba,\nHausa, Igbo,\nPidgin English',
       'Filipino, Iluko,\nHiligaynon,\nCebuano, Bicol,\nWaray, Maranao',
       'Somali', 'Russian,\nUkrainian', 'English, Ndebele,\nShona',
       'French, Kituba,\nLingala',
       'French, Lingala,\nSwahili, Tshiluba,\nKikongo',
       'French, Fang,\nTeke, Punu', 'French, Malinke,\nPular, Soussou',
       'Hindi, Tamil,\nKannada, Telugu,\nMarathi, Gujarati,\nBengali,\nMalayalam, Odia,\nPunjabi,\nAssamese',
       'Sesotho, English,\nIsithembu', 'Creole, English,\nFrench',
       'Moroccan Arabic,\nFrench,\nBerber', 'Moroccan Arabic,\nFrench',
       'Spanish, Jepora',
       'Filipino, Iluko,\nHiligaynon,\nCebuano, Bicol,\nWaray,\nMaguindanaon,\nChavacano',
       'Serbian,\nMontenegrin,\nHungarian', 'Siswati, English',
       'English, Spanish', 'English, Amharic,\nOromo, Tigrinya',
       'English, Ewe, Twi,\nDagbani', 'Chichewa, English\nTumbuka',
       'Burmese',
       'Filipino, Iluko,\nHiligaynon,\nCebuano,\nBicol, Tausug,\nWaray',
       'Arabic, Somali', 'Portuguese,\nUmbundu',
       'French, Fon,\nBariba, Anago', 'Dzongkha', 'Jepora, Spanish',
       'English, Krio,\nMende, Temne', 'Anago, Bariba,\nFrench, Fon',
       'French, Lingala,\nKikongo, Tshiluba,\nSwahili',
       'Amharic, English,\nOromo, Tigrinya', 'Finnish, Swedish',
       'Fang, French,\nPunu, Teke', 'Bahasa, Indonesia',
       'Arabic, Hebrew,\nRussian', 'Albanian,\nMacedonia',
       'English, Maltese', 'Creole, French', 'Montenegrin,\nSerbian',
       'Moroccan Arabic', 'Afrikaans,\nEnglish, Kwangali,\nOshivambo',
       'French, Hausa,\nZarma',
       'English, Hausa,\nIgbo, Yoruba,\nPidgin English',
       'Filipino, Iluko,\nHiligaynon,\nCebuano, Bicol,\nWaray,\nMaguindanaon,\nMaranao',
       'Hungarian,\nRomanian', 'French,\nKinyarwanda',
       'Arabic, English,\nBari, Dinka, Juba\nArabic, Nuer,\nZande',
       'English,\nSudanese Arabic', 'French, German,\nItalian',
       'Swahili, Kishwahili', 'Ewe, French,\nKabiye', 'Russian, Turkmen',
       'Ateso, English,\nLuganda,\nRunyankole', 'Russian, Uzbek',
       'Bemba, English,\nLozi, Nyanja,\nTonga', 'Dutch, English,\nFrench',
       'Anago, Bariba,\nFon, French', 'Dzonghka', 'Bosnian',
       'French, Lingala,\nKikongo, Swahili,\nTshiluba', 'English, Greek',
       'Amharic, Oromo,\nTigrinya', 'Fang, French,\nPunu',
       'Assamese,\nBengali, Gujarati,\nHindi, Kannada,\nMalayalam,\nMarathi, Odia,\nPunjabi, Tamil,\nTelugu',
       'Malagasy',
       'Chichuabo,\nChinyanja,\nChisena,\nEmakhuwa,\nPortuguese,\nXichangana',
       'English, Hausa,\nIgbo, Pidgin\nEnglish, Yoruba',
       'Bicol, Cebuano,\nEnglish, Filipino\n(Tagalog),\nHiligaynon, Iluko,\nMaranao, Waray',
       'Hungarian, Slovak', 'Afrikaans,\nEnglish, Sotho,\nXhosa, Zulu',
       'Arabic, Bari,\nDinka, English,\nJuba Arabic,\nZande',
       'English, French,\nGerman, Italian', 'Russian, Tajik',
       'English, Oromo', 'French, Dutch', 'Bariba, Fon,\nFrench, Anago',
       'French, Chadian\nArabic, Ngambaye', 'Greek, English',
       'French, Fang', 'English, Ewe,\nHausa,Twi,\nDagbani',
       'Russian, Kazakh', 'English, Sesotho', 'French, Bambara',
       'Maltese, English',
       'Filipino, Iluko,\nHiligaynon,\nCebuano, Bicol,\nWaray, Tausug',
       'Potuguese', 'Romanian,\nHungarian', 'English, Krio,\nMende',
       'English, Chinese', 'Slovak, Hungarian', 'Tajik',
       'Arabic, English.', 'French, Dioula', 'French, Fang,\nPunu',
       'English, Pulaar,\nWolof, Malinke', 'Hebrew, Russian,\nArabic',
       'Dhivehi', 'French, Poulaar,\nWolof, Hassanya',
       'Romania/Moldavia\nn, Russian',
       'Portuguese,\nXichangana,\nCisena,\nEmakhuwa',
       'English,\nOshivambo',
       'Filipino, Iluko,\nHiligaynon,\nCebuano,\nMasbatenyo,\nWaray, Tausug',
       'Arabic, Bari,\nDinka, English,\nJuba Arabic,\nNuer, Zande',
       'French, Fang,\nTeke',
       'French, Poulaar,\nWolof, Hassanya,\nSoninké',
       'Portuguese,\nXichangana,\nEmakhuwa',
       'English,\nOshivambo,\nAfrikaans,\nKwangali',
       'Filipino, Iluko,\nHiligaynon,\nCebuano,\nMaranao, Waray,\nSorsoganon',
       'English,\nKinyarwanda', 'Arabic, English,\nUrdu',
       'Bariba, Fon,\nFrench', 'French, Poulaar,\nHassanya',
       'English,\nOshivambo,\nAfrikaans',
       'Filipino, Iluko,\nHiligaynon,\nCebuano,\nChavacano',
       'English, French,\nKinyarwanda', 'French, Ewe',
       'English, Ewe, Twi', 'English,\nSwahili/Kishwahili',
       'Kyrgyz, Russian', 'Myanmar,\nBurmese',
       'Filipino, Iluko,\nCebuano, Waray,\nBicol',
       'Arabic, English,\nHindi, Urdu',
       'English, Ewe, Twi,\nDagbani, Hausa', 'Spanish, Jopara', 'Azeri',
       'French, Lingala,\nSwahili', 'Amharic, English,\nOromo',
       'Assamese,\nBengali, English,\nGujarati, Hindi,\nKannada,\nMalayalam,\nMarathi, Odia,\nPunjabi, Tamil,\nTelugu',
       'Arabic, Bengali,\nEnglish, Hindi',
       'Filipino, Iluko,\nCebuano,\nHiligaynon,\nWaray, Bicol',
       'English, Swahili,\nKishwahili', 'Arabic, English,\nHindi',
       'Amharic, Oromo', 'English, Luganda,\nRunyankole',
       'French, Flemish', 'Bahasa Malay,\nEnglish', 'Nepali, Maithili',
       'Arabic, Bengali,\nEnglish,\nMalayalam', 'English\nKinyarwanda'],
      dtype=object)

In [28]:
df["Languages"] = df["Languages"].apply(limpiar_caracteres_extra)

In [29]:
df["Margin of Error"] = df["Margin of Error"].apply(limpiar_caracteres_extra)
df["Margin of Error"].unique()

array(['4.0', '3.3', '3.2', '3.5', '3.7', '3.0', '3.8', '3.1', '2.7',
       '3.4', '4.4', '4.1', '2.9', '4.6', '3.6', '2.2', '5.8', '4.5',
       '4.7', '4.3', '5.0', '3.9', '5.1', '4.2', '5.7', '5.3', '4.9',
       '2.1', '5.4', '2.3', '5.2', '2.6', '2.5', '4.8', '5.5', '2.8',
       '1.7', '2.3 4.0', '2.4', '2.0', '2.1 3.7', '1.6', '5.6', '1.5',
       '1.9', '1.4', 'Phone: 4.3 Total: 3.9', 'Phone: 4.5 Total: 4.2',
       'Phone: 4.0 Total: 3.6', 'Phone: 4.1 Total: 3.6',
       'Phone: 3.8 Total: 3.5', 'Phone: 4.6 Total: 4.0',
       'Phone: 4.2 Total: 3.7', 'Phone: 4.3 Total: 3.8',
       'Phone: 5.3 Total: 4.6', 'Phone: 4.9 Total: 4.4',
       'Phone: 4.1 Total: 3.8', 'Phone: 5.0 Total: 4.4',
       'Phone: 4.9 Total: 4.3', 'Phone: 4.3 Total: 4.0',
       'Phone: 4.5 Total: 4.0', 'Phone: 4.7 Total: 4.1',
       'Phone: 4.4 Total: 4.0', 'Phone: 4.2 Total: 3.9',
       'Phone: 4.0 Total: 3.7', 'Phone: 4.2 Total: 3.8',
       'Phone: 4.6 Total: 4.1'], dtype=object)

In [30]:
df["Mode of Interviewing"] = df["Mode of Interviewing"].apply(limpiar_caracteres_extra)
df["Mode of Interviewing"].unique()

array(['Face-to-Face', 'Landline Telephone',
       'Face-to-Face and Landline Telephone',
       'Landline and Mobile Telephone', 'Panel', 'Face-to-Face (HH)*',
       'Mobile Telephone', 'Face-to-Face, Landline Telephone',
       'Face-to-Face (Landline Telephone in Tripoli)',
       'Landline and Mobile Telephone, half RDD and half survey recontacts',
       'Landline Telephone and Face-to-Face', 'Mobile Telephone Only',
       'Face to Face', 'Face-to-Face, Telephone', 'Face to Face (HH)*',
       'Landline and Mobile Telephone and Face-to- Face (HH)*',
       'Face-to-Face (HH)* and Face-to-Face',
       'Face-to-Face (HH)* and PAPI',
       'Face-to-Face and Face- to-Face (HH)*',
       'Landline and Mobile Telephone / Web',
       'Mobile Telephone Telephone/Web', 'Web', 'Mobile Telephone / Web',
       'Landline and Mobile Telephone/Web',
       'Face-to-Face (HH)* Mobile Telephone'], dtype=object)

In [31]:
# Hacemos diccionario de reemplazos
reemplazos = {
    'Face-to-Face and Landline Telephone': 'Landline Telephone and Face-to-Face',
    'Face to Face': 'Face-to-Face',
    'Face-to-Face, Landline Telephone': 'Landline Telephone and Face-to-Face',
    'Face to Face (HH)*': 'Face-to-Face (HH)*',
    'Face-to-Face and Face- to-Face (HH)*': 'Face-to-Face (HH)* and Face-to-Face',
    'Landline and Mobile Telephone and Face-to- Face (HH)*': 'Landline, Mobile Telephone and Face-to-Face (HH)*',
    'Landline and Mobile Telephone / Web': 'Landline, Mobile Telephone and Web',
    'Mobile Telephone Telephone/Web': 'Mobile Telephone and Web',
    'Face-to-Face (HH)* Mobile Telephone': 'Face-to-Face (HH)* and Mobile Telephone'
}

# Aplicar los reemplazos
if "Mode of Interviewing" in df.columns:
    df["Mode of Interviewing"] = df["Mode of Interviewing"].replace(reemplazos)

# Verificamos los valores únicos después de los reemplazos
print(df["Mode of Interviewing"].unique())

['Face-to-Face' 'Landline Telephone' 'Landline Telephone and Face-to-Face'
 'Landline and Mobile Telephone' 'Panel' 'Face-to-Face (HH)*'
 'Mobile Telephone' 'Face-to-Face (Landline Telephone in Tripoli)'
 'Landline and Mobile Telephone, half RDD and half survey recontacts'
 'Mobile Telephone Only' 'Face-to-Face, Telephone'
 'Landline, Mobile Telephone and Face-to-Face (HH)*'
 'Face-to-Face (HH)* and Face-to-Face' 'Face-to-Face (HH)* and PAPI'
 'Landline, Mobile Telephone and Web' 'Mobile Telephone and Web' 'Web'
 'Mobile Telephone / Web' 'Landline and Mobile Telephone/Web'
 'Face-to-Face (HH)* and Mobile Telephone']

In [32]:
reemplazo = {
    'Mobile Telephone only' : 'Mobile Telephone'
}

# Aplicamos más reemplazos
if "Mode of Interviewing" in df.columns:
    df["Mode of Interviewing"] = df["Mode of Interviewing"].replace(reemplazos)

# Verificamos los valores únicos después de los reemplazos
df["Mode of Interviewing"].unique()

array(['Face-to-Face', 'Landline Telephone',
       'Landline Telephone and Face-to-Face',
       'Landline and Mobile Telephone', 'Panel', 'Face-to-Face (HH)*',
       'Mobile Telephone', 'Face-to-Face (Landline Telephone in Tripoli)',
       'Landline and Mobile Telephone, half RDD and half survey recontacts',
       'Mobile Telephone Only', 'Face-to-Face, Telephone',
       'Landline, Mobile Telephone and Face-to-Face (HH)*',
       'Face-to-Face (HH)* and Face-to-Face',
       'Face-to-Face (HH)* and PAPI',
       'Landline, Mobile Telephone and Web', 'Mobile Telephone and Web',
       'Web', 'Mobile Telephone / Web',
       'Landline and Mobile Telephone/Web',
       'Face-to-Face (HH)* and Mobile Telephone'], dtype=object)

In [33]:
df["Number of Interviews"].unique()

array(['981', '1,000', '1,001', '1,004', '1,048', '1,092', '1,003',
       '2,002', '1,029', '1,355', '1,007', '3,730', '1,002', '1,067',
       '999', '1,010', '1,021', '505', '800', '1,025', '2,100', '1,180',
       '1,300', '543', '1,046', '996', '1,015', '1,042', '1,012', '834',
       '1,028', '1,005', '1,200', '500', '1,022', '2,011', '1,504',
       '1,556', '1,095', '1,018', '1,009', '1,100', '1,033', '1,410',
       '508', '995', '1,102', '1,013', '1,037', '1,023', '1,205', '1,114',
       '502', '1,038', '4,238', '1,072', '1,061', '1,024', '1,220',
       '1,221', '501', '3,186', '1,008', '1,150', '1,016', '1,017',
       '1,233', '750', '1,502', '2,949', '1,006', '1,066', '1,204',
       '1,225', '1,020', '1,091', '1,032', '1,108', '4,383', '1,105',
       '601', '1,080', '1,011', '751', '2,000', '1,050', '1,040', '990',
       '2,200', '1,047', '513', '506', '804', '840', '2,019', '1,548',
       '1,209', '1,074', '1,051', '1,077', '1,031', '4,201', '607', '755',
       '3,010', '515', '984', '842', '1,133', '1,147', '1,014', '2,042',
       '944', '1,082', '1,019', '1,081', '1,041', '1,043', '4,151', '504',
       '756', '6,000', '1,030', '912', '896', '1,059', '1,026', '4,220',
       '1,044', '1,121', '1,049', '3,044\n1,000', '3,024', '3,037',
       '3,518', '3,089\n1,010', '3,080', '3,071', '1,052', '1003',
       '2,583', '2,574', '4,256', '1005', '1,086', '1004', '1002',
       '3,033', '3,017', '6215', '5,000', '2,540', '2540', '2,507',
       '1001', '1025', '1,500', '3,075', '3,084', '6244', '1,075', '1009',
       '1,035', '4,244', '753', '1,149', '1,053', '1,036', '4,696',
       '3,000', '998', '1,062', '1,056', '1,027', '1,034', '4,265', '596',
       '1,898', '1,039', '4,373', '529', '1,191', '1,855', '1,064',
       '1,600', '4,141', '1,104', '3,649', '2,504', '1,109', '1,857',
       '1,127', '1,060', '3,072', '1,128', '3,001', '1,111', '3,709',
       '1,090', '1,078', '2,070', '2,222', '1,070', '1,120', '1,140',
       '6,643', '2,192', '1,058', '1,097', '1,088', '1,130', '2,095',
       '1,079', '2,090', '3,003', '1,045', '1,083', '1,110', '2,059',
       '1,089', '1,413', '3,503', '3,103', '6,350', '1,057', '2,022',
       '1,917', '3,500', '1,063', '2,001', '821', '2,006',
       'Phone: 802\nWeb: 200\nTotal: 1,002',
       'Phone: 800\nWeb: 200\nTotal: 1,000',
       'Phone: 804\nWeb: 200\nTotal: 1,004', '2,221',
       'Phone: 803\nWeb: 200\nTotal: 1,003',
       'Phone: 800\nWeb: 208\nTotal: 1,008',
       'Phone: 801\nWeb: 210\nTotal: 1,011',
       'Phone: 800\nWeb: 201\nTotal: 1,001',
       'Phone: 803\nWeb: 203\nTotal: 1,006',
       'Phone: 804\nWeb: 201\nTotal: 1,005', '507', '3,009',
       'Phone: 800\nWeb: 202\nTotal: 1,002',
       'Phone: 809\nWeb: 200\nTotal: 1,009', '1,071',
       'Phone: 814\nWeb: 202\nTotal: 1,016', '609',
       'Phone: 800\nWeb: 204\nTotal: 1,004', '2,017',
       'Phone: 801\nWeb: 200\nTotal: 1,001',
       'Phone: 800\nWeb: 203\nTotal: 1,003',
       'Phone: 805\nWeb: 200\nTotal: 1,005', '509', '3,086', '1,073',
       '1,129'], dtype=object)

In [34]:
df["Number of Interviews"] = df["Number of Interviews"].apply(limpiar_caracteres_extra)
df["Number of Interviews"].unique()

array(['981', '1,000', '1,001', '1,004', '1,048', '1,092', '1,003',
       '2,002', '1,029', '1,355', '1,007', '3,730', '1,002', '1,067',
       '999', '1,010', '1,021', '505', '800', '1,025', '2,100', '1,180',
       '1,300', '543', '1,046', '996', '1,015', '1,042', '1,012', '834',
       '1,028', '1,005', '1,200', '500', '1,022', '2,011', '1,504',
       '1,556', '1,095', '1,018', '1,009', '1,100', '1,033', '1,410',
       '508', '995', '1,102', '1,013', '1,037', '1,023', '1,205', '1,114',
       '502', '1,038', '4,238', '1,072', '1,061', '1,024', '1,220',
       '1,221', '501', '3,186', '1,008', '1,150', '1,016', '1,017',
       '1,233', '750', '1,502', '2,949', '1,006', '1,066', '1,204',
       '1,225', '1,020', '1,091', '1,032', '1,108', '4,383', '1,105',
       '601', '1,080', '1,011', '751', '2,000', '1,050', '1,040', '990',
       '2,200', '1,047', '513', '506', '804', '840', '2,019', '1,548',
       '1,209', '1,074', '1,051', '1,077', '1,031', '4,201', '607', '755',
       '3,010', '515', '984', '842', '1,133', '1,147', '1,014', '2,042',
       '944', '1,082', '1,019', '1,081', '1,041', '1,043', '4,151', '504',
       '756', '6,000', '1,030', '912', '896', '1,059', '1,026', '4,220',
       '1,044', '1,121', '1,049', '3,044 1,000', '3,024', '3,037',
       '3,518', '3,089 1,010', '3,080', '3,071', '1,052', '1003', '2,583',
       '2,574', '4,256', '1005', '1,086', '1004', '1002', '3,033',
       '3,017', '6215', '5,000', '2,540', '2540', '2,507', '1001', '1025',
       '1,500', '3,075', '3,084', '6244', '1,075', '1009', '1,035',
       '4,244', '753', '1,149', '1,053', '1,036', '4,696', '3,000', '998',
       '1,062', '1,056', '1,027', '1,034', '4,265', '596', '1,898',
       '1,039', '4,373', '529', '1,191', '1,855', '1,064', '1,600',
       '4,141', '1,104', '3,649', '2,504', '1,109', '1,857', '1,127',
       '1,060', '3,072', '1,128', '3,001', '1,111', '3,709', '1,090',
       '1,078', '2,070', '2,222', '1,070', '1,120', '1,140', '6,643',
       '2,192', '1,058', '1,097', '1,088', '1,130', '2,095', '1,079',
       '2,090', '3,003', '1,045', '1,083', '1,110', '2,059', '1,089',
       '1,413', '3,503', '3,103', '6,350', '1,057', '2,022', '1,917',
       '3,500', '1,063', '2,001', '821', '2,006',
       'Phone: 802 Web: 200 Total: 1,002',
       'Phone: 800 Web: 200 Total: 1,000',
       'Phone: 804 Web: 200 Total: 1,004', '2,221',
       'Phone: 803 Web: 200 Total: 1,003',
       'Phone: 800 Web: 208 Total: 1,008',
       'Phone: 801 Web: 210 Total: 1,011',
       'Phone: 800 Web: 201 Total: 1,001',
       'Phone: 803 Web: 203 Total: 1,006',
       'Phone: 804 Web: 201 Total: 1,005', '507', '3,009',
       'Phone: 800 Web: 202 Total: 1,002',
       'Phone: 809 Web: 200 Total: 1,009', '1,071',
       'Phone: 814 Web: 202 Total: 1,016', '609',
       'Phone: 800 Web: 204 Total: 1,004', '2,017',
       'Phone: 801 Web: 200 Total: 1,001',
       'Phone: 800 Web: 203 Total: 1,003',
       'Phone: 805 Web: 200 Total: 1,005', '509', '3,086', '1,073',
       '1,129'], dtype=object)

In [35]:
df['Over-Sample'].unique()

array(['', 'Urban', 'Toronto', 'Shanghai, Beijing, Guangzhou', 'Berlin',
       'Jakarta', 'Tehran',
       'Urban areas and ARMM (autonomous region of Muslim Mindanao)',
       'Bangkok', 'Dhaka', 'Beijing, Shanghai, Guangzhou', 'Paris',
       'Kuala Lumpur', 'Ulan Bator', 'Karachi, Urban',
       'Urban, Dagestan, Tatarstan (Muslim regions)', 'London', 'Tbilisi',
       'Nairobi', 'Albanians in Northwest and Skojpe', 'Urban oversample',
       'East Herzegovina and West Herzegovina',
       'Serbs in Serbian North and Serbian Enklaves',
       'Albanians in Northwest and Skopje',
       'Albanians in North, Cost and Podgorica', 'Muslims in Sandzak',
       'Croats in East and West Herzegovina',
       'Serbs in Serbian North and Serbian enclaves', 'Vienna',
       'Brussels', 'Sofia', 'Prague', 'Copenhagen', 'Helsinki',
       'Paris City', 'Budapest', 'Dublin City', 'Rome',
       'Albanians in Northwest', 'Amsterdam', 'Warsaw', 'Lisbon',
       'Bucharest', 'Bratislava', 'Ljubljana', 'Madrid', 'Stockholm',
       'Istanbul', 'Serbs in Serbian North Kosovo and Serbian Enclaves',
       'Beijing, Shanghai and Guangzhou',
       'Disproportion ate allocation of rural/urban interviews across the 4 regions',
       'Sandzak',
       'Disproportion ate allocation of sample across the 4 broad regions.',
       'Additional interviews among Emirati nationals'], dtype=object)

In [ ]:
df.to_csv("data/processed/gallup-interviews-info-2005-2025.csv", index=False)

In [39]:
resumen_df(df)

Forma del DataFrame: (2730, 9)

Tipos de datos:
Data Collection Year    object
Country                 object
Data Collection Date    object
Number of Interviews    object
Design Effect           object
Margin of Error         object
Mode of Interviewing    object
Languages               object
Over-Sample             object
dtype: object

Valores nulos:
Data Collection Year    0
Country                 0
Data Collection Date    0
Number of Interviews    0
Design Effect           0
Margin of Error         0
Mode of Interviewing    0
Languages               0
Over-Sample             0
dtype: int64

Valores duplicados: 0

⚠️ No hay columnas numéricas en el DataFrame.

Resumen estadístico (categóricas):

                     count unique           top  freq
Data Collection Year  2730     20          2012   195
Country               2730    482       Ukraine    20
Data Collection Date  2730   2480     Jul, 2007    22
Number of Interviews  2730    258         1,000  1587
Design Effect         2730    186          1.36    69
Margin of Error       2730     67           3.7   414
Mode of Interviewing  2730     20  Face-to-Face   981
Languages             2730    274       Spanish   333
Over-Sample           2730     54                2593